h1 {
    font-size: 2em;
    margin: 0.67em 0;
  color: #ff0000;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
   color: #b52dff;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
   color: #00850c;
}
